
.mlpm_w {
    position: absolute;
    overflow: visible;
    margin: 0;
    padding: 0;
}

    .mlpm_w .levelHolderClass {
        position: fixed;
        overflow: visible;
        top: 0;
        width: auto;
        font-size: 1em;
        zoom: 1;
    }

    .mlpm_w .invisible {
        visibility: hidden;
    }

    .mlpm_w .visible {
        visibility: visible;
    }

    .mlpm_w .ltr {
        margin-left: -100%;
        left: 0;
        -moz-box-shadow: 5px 0 5px -5px #870000;
        -webkit-box-shadow: 5px 0 5px -5px #870000;
        box-shadow: 5px 0 5px -5px #870000;
        filter: progid:DXImageTransform.Microsoft.Shadow(color=#870000,direction=90,strength=2);
    }

    .mlpm_w.rtl {
        right: 0;
        text-align: left;
    }

        .mlpm_w.rtl .levelHolderClass {
            margin-right: 0;
            right: 0;
            top: 57px;
            bottom: 40px;
            -moz-box-shadow: 0 0 20px 6px rgba(0,0,0,.25);
            -webkit-box-shadow: 0 0 20px 6px rgba(0,0,0,.25);
            box-shadow: 0 0 20px 6px rgba(0,0,0,.25);
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#454545,direction=270,strength=2);
            border-bottom: 1px solid #3a4246;
        }

    .mlpm_w .mlpm_inactive {
        background: #ba0011;
    }

    .mlpm_w ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mlpm_w li:last-child {
        border-bottom: 1px solid #870000;
    }

    .mlpm_w li:hover {
        background-color: #870000;
    }

    .mlpm_w a {
        display: block;
        outline: none;
        overflow: hidden;
        font-size: 1.5em;
        line-height: 1em;
        padding: .2em .2em;
        text-decoration: none;
        color: #fff;
    }

        .mlpm_w a:hover {
            color: #ffe;
        }


    .mlpm_w .floatRight {
        float: right;
    }

    .mlpm_w .floatLeft {
        float: left;
    }

    .mlpm_w .cursorPointer {
        cursor: pointer;
    }

    .mlpm_w .iconSpacing_rtl {
        padding: 0 0 0 .4em;
    }

    /* Custom */

    .mlpm_w .mlpm_inactive {
        border-right: 1px solid #c9d0d6;
    }

    .mlpm_w li:last-child {
        border-bottom: 1px solid #c9d0d6;
    }

    .mlpm_w li:hover {
        background-color: #f3f6fb;
        color: #1B242A;
    }

    .mlpm_w li a:hover {
        color: #1B242A;
    }

    .mlpm_w .ltr {
        -moz-box-shadow: 5px 0 5px -5px #aaaaaa;
        -webkit-box-shadow: 5px 0 5px -5px #aaaaaa;
        box-shadow: 5px 0 5px -5px #aaaaaa;
        filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=2);
    }


    .mlpm_w .backItemClass:hover {
        background: #3379ba;
    }

.levelHolderClass h2 .btn-toolbar {
    line-height: 1.45;
}

.mlpm_w .mlpm_inactive h2 .btn-toolbar {
    border-right: 0 transparent;
}

.mlpm_w li:hover,
.mlpm_w li.not-entitled:hover {
    background-color: #3379ba;
    border-top: 1px solid #3379ba;
    color: #ffffff;
}

.mlpm_w li a:hover {
    color: #ffffff;
}


.mlpm_w ul > li.active > a {
    color: #ffffff;
}

.mlpm_w li.not-entitled {
    background: rgba(255, 255, 255, 0.6);
}

    .mlpm_w li.not-entitled a {
        opacity: .7;
    }

.mlpm_w .side-menu-sub-header:hover {
    border-top: 1px solid #c9d0d6;
    cursor: auto;
}

.levelHolderClass > li.active > a:after {
    font-family: 'FontAwesome';
    display: block;
    content: "\f00c";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: none;
    border-width: 2px 7px 5px 0;
    border-right-color: #ccc;
    color: #ccc;
    margin-top: 0px;
    margin-left: -21px;
}

.mlpm_w li.disabled, .mlpm_w a.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee !important;
}

.mlpm_w .ps-container .ps-scrollbar-y-rail {
    opacity: 1 !important;
    width: 10px !important;
    right: 0px !important;
}

    .mlpm_w .ps-container .ps-scrollbar-y-rail:hover,
    .mlpm_w .ps-container .ps-scrollbar-y-rail.hover {
        background-color: #eee !important;
    }

    .mlpm_w .ps-container .ps-scrollbar-y-rail .ps-scrollbar-y {
        background-color: #aaa !important;
        width: 10px !important;
    }

.mlpm_w .mlpm_inactive {
    border-right: 1px solid #c9d0d6;
}

.mlpm_w li:hover {
    background-color: #f3f6fb;
    color: #1B242A;
}

.mlpm_w li a:hover {
    color: #1B242A;
}

.mlpm_w .ltr {
    -moz-box-shadow: 5px 0 5px -5px #aaaaaa;
    -webkit-box-shadow: 5px 0 5px -5px #aaaaaa;
    box-shadow: 5px 0 5px -5px #aaaaaa;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=2);
}

.mlpm_w .backItemClass:hover {
    background: #3379ba;
}

.levelHolderClass h2 .btn-toolbar {
    line-height: 1.45;
    border: 0 transparent;
    float: right;
}

.levelHolderClass > li.active > a:after {
    font-family: 'FontAwesome';
    display: block;
    content: "\f00c";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: none;
    border-width: 2px 7px 5px 0;
    border-right-color: #ccc;
    color: #ccc;
    margin-top: 0px;
    margin-left: -21px;
}

.mlpm_w .mlpm_inactive h2 .btn-toolbar {
    border: 0 transparent;
}

.mlpm_w li:hover,
.mlpm_w li.not-entitled:hover {
    background-color: #3379ba;
    border-top: 1px solid #3379ba;
    color: #ffffff;
}

.mlpm_w li a:hover {
    color: #ffffff;
}

.mlpm_w ul > li.active > a {
    color: #ffffff;
}

.mlpm_w li.not-entitled {
    background: rgba(255, 255, 255, 0.6);
}

    .mlpm_w li.not-entitled a {
        opacity: .7;
    }

.mlpm_w .side-menu-sub-header:hover {
    border-top: 1px solid #c9d0d6;
    cursor: auto;
}

.sub-header .mlpm_w {
    min-width: 250px;
}
