.multilevelpushmenu_wrapper {
    position: absolute;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;

    .levelHolderClass {
        position: absolute;
        overflow: hidden;
        top: 0;
        background: #336ca6;
        width: auto;
        min-height: 100%;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1em;
        zoom: 1;
    }

    .multilevelpushmenu_inactive {
        background: #2e6196;
    }

    h2 {
        font-size: 1.5em;
        line-height: 1em;
        font-weight: bold;
        color: #1f4164;
        padding: 0 .4em 0 .4em;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            cursor: pointer;
            border-top: 1px solid #295685;
            padding: .4em .4em .4em .4em;

            &:last-child {
                border-bottom: 1px solid #295685;
            }

            &:hover {
                background-color: #295685;
            }
        }
    }

    a {
        display: block;
        outline: none;
        overflow: hidden;
        font-size: 1.5em;
        line-height: 1em;
        padding: .2em .2em;
        text-decoration: none;
        color: #fff;

        &:hover {
            color: #ffe;
        }
    }

    .backItemClass {
        display: block;
        padding: .4em .4em .4em .4em;
        background: #2e6196;
        border-top: 1px solid #295685;
    }

    .invisible {
        visibility: hidden;
    }

    .visible {
        visibility: visible;
    }

    .cursorPointer {
        cursor: pointer;
    }

    &.ltr {
        .levelHolderClass {
            left: 0;
            margin-left: 0;
            .box-shadow(5px 0 5px -5px #1f4164);
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#1f4164,direction=90,strength=2);
        }

        .iconSpacing {
            padding: 0 .4em 0 0;
        }

        .itemIcon {
            float: right;
        }

        .floatRight {
            float: right;
        }

        .floatLeft {
            float: left;
        }
    }

    &.rtl {
        right: 0;
        text-align: right;

        .levelHolderClass {
            right: 0;
            margin-right: 0;
            .box-shadow(5px 0 5px 5px #1f4164);
        }

        .multilevelpushmenu_collapse {
            margin-right: -225px;
        }

        .iconSpacing {
            padding: 0 0 0 .4em;
        }

        .floatRight {
            float: left;
        }

        .floatLeft {
            float: right;
        }
    }
}

.box-shadow (@value) {
    -webkit-box-shadow: @value;
    -moz-box-shadow: @value;
    box-shadow: @value;
}
