body {
  padding: 0;
  margin: 0;
  background: #243342;
}

.multilevelpushmenu_wrapper {
  position: fixed !important;
}

#pushobj {
  position: absolute;
  top: 0;
  left: 300px;
  z-index: 1;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  color: #fff;
  background: #243342;
}

#pushobj ul {
  font-size: .7em;
}